@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url(./image/home_img/IMG_background.jpg);
  background-size: contain;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow-x: hidden;
}

body.fixed {
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-left: 5vw;
}

.h1-long {
  font-size: clamp(20px, 5.5vw, 40px);
  margin-left: 5vw;
  margin-top: 5vw;
  margin-bottom: 1vw;
}

.p-long {
  font-size: clamp(15px, 4vw, 30px);
  margin-left: 5vw;
  margin-bottom: 5vw;
  margin-top: 0;
}

h4 {
  font-size: 5vw;
}

/* スクロールのエフェクト */
.fade {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.fade.active {
  transform: translateY(0);
  opacity: 1;
}
/* スクロールのエフェクトここまで */

/* スクロール2 */
.fade2 {
  opacity: 0;
  margin-bottom: 2vw;
}

.fade2.active {
  animation: fade2-ani 1s;
  animation-fill-mode: forwards;
  transform-origin: right;
}

@keyframes fade2-ani {
  0% {
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* スクロール2ここまで */

.logo {
  display: flex;
}

.logo-img {
  width: auto;
  height: 120px;
}

/* メニューバー */
.area_header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-image: url(./image/home_img/IMG_background-head.jpg);
  background-size: contain;
}

.gnavi {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 823px) {
  .gnavi,
  .tel {
    display: none;
  }

  .area_header {
    height: 80px;
  }

  .logo-img {
    height: 80px;
    width: auto;
  }
}

.gnavi li {
  padding: 5px 10px;
}

/*gnavi:hover*/
.gnavi li:hover {
  color: red;
  background-color: white;
  border-radius: 10px;
}

.tel {
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
}

.tel-number {
  font-size: 30px;
}

/* メニューバー収納 */
.menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  height: 75px;
  width: 75px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  border-bottom: 5px solid #9f000c;
  background-color: red;
}

.menu-btn.active {
  margin-top: 5px;
  border-bottom: 0px solid #9f000c;
}

.menu-btn.active::after {
  margin-top: 0;
  border-bottom: 5px solid #9f000c;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked~.menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 18px 30px 20px 0;
  position: relative;
}

.menu-content ul li a:hover {
  color: black;
  background-color: white;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 22px;
  top: 25px;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: black;
  opacity: 0.7;
  transition: all 0.5s;
  /*アニメーション設定*/
}

#menu-btn-check:checked~.menu-content {
  left: 0;
  /*メニューを画面内へ*/
}

@media screen and (min-width: 824px) {
  .hamburger-menu {
    display: none;
  }
}

/* トップ写真 */
.top_img {
  width: 100%;
  height: auto;
}

/* メニュー */
.menu-tile-top {
  font-size: min(5vw, 30px);
}

.menu-tile-top-drink {
  font-size: min(5vw, 30px);
}

.softdrink-text {
  font-size: min(3vw, 20px);
}

.top-zero {
  margin-top: 5vw;
  margin-bottom: 2vw;
}

.menu-tile {
  text-align: center;
  padding: 2vw;
}

.menu-tile-image {
  width: 20vw;
  height: auto;
  border-radius: 2vw;
}

.menu-tile-under {
  width: 20vw;
  flex-wrap: wrap;
  padding-top: 1vw;
}

.menu-tile-name {
  font-size: min(2.5vw, 25px);
  margin-top: 0;
}

.name-small {
  font-size: min(2.4vw, 25px);
}

.name-small2 {
  font-size: min(1.9vw, 19px);
}

.name-small3 {
  font-size: min(2.2vw, 19px);
}

.menu-tile-price {
  font-size: min(2.5vw, 20px);
  margin-bottom: 10vw;
}

.tan,
.karubi,
.karubi-america,
.rosu,
.organ,
.organ-foreign,
.pork,
.pork-foreign,
.wiener,
.chicken,
.seafood,
.vegitable,
.otumami,
.otukemono,
.soup,
.bibimbap,
.kuppa,
.curry,
.rice,
.noodle,
.a-la-carte,
.desert,
.service,
.set-menu,
.softdrink,
.beer,
.non-alcohol,
.sour,
.whisky,
.shochu,
.wine,
.sake,
.china-alcohol,
.homemade-alcohol {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
}

.tan,
.karubi,
.karubi-america,
.rosu,
.organ,
.organ-foreign,
.pork,
.pork-foreign,
.bibimbap,
.kuppa,
.curry,
.rice,
.beer,
.non-alcohol,
.sour,
.whisky,
.shochu,
.wine,
.sake,
.china-alcohol,
.homemade-alcohol {
  margin-top: 3vw;
}

.setmenu-rib {
  white-space: nowrap;
}

.lunchmenu-tile,
.setmenu-tile {
  text-align: center;
  padding: 3vw;
}

.lunchmenu-image,
.setmenu-image {
  width: 40vw;
  height: auto;
  border-radius: 2vw;
}

.lunchmenu-under,
.setmenu-under {
  width: 40vw;
  flex-wrap: wrap;
  padding-top: 1vw;
}

.lunchmenu-name,
.setmenu-name {
  font-size: min(2.5vw, 25px);
  margin-top: 0;
}

.lunchmenu-detail,
.setmenu-detail {
  font-size: min(1.9vw, 19px);
  margin-top: 0;
}

.color {
  color: orange;
}

.setmenu-tile-price {
  font-size: min(2.2vw, 22px);
  margin-bottom: 10vw;
}

.set-menu,
.lunch-menu {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 92vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
}

.softdrink-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1vw;
  list-style: none;
}

h2,
h3 {
  text-align: center;
}

.list-softdrink {
  text-align: left;
}

.menu-jump {
  display: flex;
  flex-wrap: wrap;
  width: 96vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  margin-left: 1.5vw;
  margin-right: 2.5vw;
  text-align: center;
}

.jump-text {
  width: 14vw;
  height: auto;
  position: relative;
  padding: 1vw;
}

.jump-text img {
  width: 14vw;
  height: auto;
  border: solid 0.5vw white;
  border-radius: 1vw;
  opacity: 0.7;
}

.jump-p {
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  font-size: 1.8vw;
  padding-left: 1vw;
  padding-bottom: 0.6vw;
}

.jump-text img:hover + .jump-p {
  color: orange;
}

.jump-text img:hover {
  opacity: 0.3;
}

.softdrink-text {
  padding: 10px;
}

.selfmade-list {
  margin-bottom: 15vw;
}

@media screen and (max-width: 823px) {
  .menu-tile {
    text-align: center;
    padding: 2vw;
  }
  
  .menu-tile-image {
    width: 28vw;
    height: auto;
  }

  .menu-tile-under {
    width: 28vw;
    flex-wrap: wrap;
    padding-top: 1vw;
  }

  .menu-tile-name {
    font-size: min(3.9vw, 20px);
  }

  .name-small {
    font-size: min(3.5vw, 20px);
  }

  .name-small2 {
    font-size: min(2.7vw, 18px);
  }

  .name-small3 {
    font-size: min(3vw, 20px);
  }
  
  .lunchmenu-name,
  .setmenu-name {
    font-size: min(4.4vw, 25px);
  }

  .lunchmenu-detail,
  .setmenu-detail {
    font-size: min(3.5vw, 22px);
  }

  .list-softdrink {
    font-size: min(5vw, 25px);
  }

  .softdrink-text {
    font-size: min(4.5vw, 25px);
  }

  .menu-tile-price {
    font-size: min(3.6vw, 22px);
  }

  .setmenu-tile-price {
    font-size: min(4vw, 25px);
  }

  .tan,
  .karubi,
  .karubi-america,
  .rosu,
  .organ,
  .organ-foreign,
  .pork,
  .pork-foreign,
  .wiener,
  .chicken,
  .seafood,
  .vegitable,
  .otumami,
  .otukemono,
  .soup,
  .bibimbap,
  .kuppa,
  .curry,
  .rice,
  .noodle,
  .a-la-carte,
  .desert,
  .service,
  .set-menu,
  .softdrink,
  .beer,
  .non-alcohol,
  .sour,
  .whisky,
  .shochu,
  .wine,
  .sake,
  .china-alcohol,
  .homemade-alcohol {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 96vw;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-jump {
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
    margin-left: 1.5vw;
    margin-right: 2.5vw;
    text-align: center;
  }
  
  .jump-text {
    width: 28vw;
    height: auto;
    position: relative;
    padding: 2vw;
  }
  
  .jump-text img {
    width: 28vw;
    height: auto;
  }

  .jump-p {
    font-size: 3.6vw;
  }
}

/* フッター */
.footer {
  font-size: 13px;
  color: black;
  background-image: url(./image/home_img/IMG_background-footer1.jpg);
  background-size: cover;
  margin-top: 30vw;
}

.footer-logo {
  text-align: center;
}

.footer-logo-img {
  width: 36vw;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  width: 92vw;
  margin-left: auto;
  margin-right: auto;
}

.footer-tile {
  padding: 2vw;
  width: 42vw;
}

.footer-navi-heading {
  text-align: left;
}

.footer-navi {
  padding-left: 0;
  text-align: left;
}

li {
  list-style: none;
}

@media screen and (min-width: 919px) {
  .footer {
    background-image: url(./image/home_img/IMG_background-footer2.jpg);
    background-size: cover;
    font-size: 15px;
  }
  
  .footer-above {
    display: flex;
  }

  .footer-logo-img {
    width: 28vw;
  }

  .footer-list {
    width: 72vw;
  }

  .footer-tile {
    padding: 2vw;
    width: 20vw;
  }
}
 
.copyright-area {
  padding-bottom: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.copyright {
  text-align: center;
}

/*戻るボタン*/
html{
  scroll-behavior: smooth;
}

.gotop{
  display: block;
  width: clamp(40px, 12vw, 80px);
  height: clamp(40px, 12vw, 80px);
  box-sizing: border-box;
  background: #FFF;
  border: 1px solid #999;
  padding-top: clamp(20px, 6vw, 40px);
  text-align: center;
  letter-spacing: -1px;
  font-size: 85%;
  text-decoration: none;
  color: #333;
  opacity: 0.7;
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  z-index: 10000;
}

.gotop::before{
  content: "";
  display: block;
  border-top: 0.4vw solid #333;
  border-right: 0.4vw solid #333;
  width: 25%;
  height: 25%;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}

.gotop:hover{
  opacity: 1;
}

@media(max-width:750px){
  .gotop{
    bottom: 10px;
    right: 10px;
  }
}

#牛焼肉,
#豚焼肉,
#ウインナー,
#鶏焼肉,
#魚介,
#野菜,
#おつまみ,
#お漬け物,
#スープ,
#ご飯物,
#麺,
#一品料理,
#デザート,
#サービス,
#ランチメニュー
#セットメニュー,
#ソフトドリンク,
#お酒 {
  position: relative;
  margin-top: 10vw;
}

.menu-head-img {
  width: 100%;
  opacity: 0.7;
  display: block;
}
.menu-head-img-phone {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-head-img-phone {
    width: 100%;
    opacity: 0.7;
    height: max(15vw, 150px);
    display: block;
  }
  
  .menu-head-img {
    display: none;
  }
}  

.menu-head {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  font-size: min(7vw, 60px);
}

.setmenu-head {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


