@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url(./image/home_img/IMG_background.jpg);
  background-size: contain;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow-x: hidden;
}

body.fixed {
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 7vw;
  margin-left: 5vw;
}

/* スクロールのエフェクト */
.fade {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.fade.active {
  transform: translateY(0);
  opacity: 1;
}
/* スクロールのエフェクトここまで */

/* スクロール2 */
.fade2 {
  opacity: 0;
  margin-bottom: 2vw;
}

.fade2.active {
  animation: fade2-ani 1s;
  animation-fill-mode: forwards;
  transform-origin: right;
}

@keyframes fade2-ani {
  0% {
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* スクロール2ここまで */

.logo {
  display: flex;
}

.logo-img {
  width: auto;
  height: 120px;
}

/* メニューバー */
.area_header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-image: url(./image/home_img/IMG_background-head.jpg);
  background-size: contain;
}

.gnavi {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 823px) { 
  .gnavi, .tel {
    display: none;
  }

  .area_header {
    height: 80px;
  }

  .logo-img {
    height: 80px;
    width: auto;
  }
} 

.gnavi li {
  padding: 5px 10px;
}

/*gnavi:hover*/
.gnavi li:hover {
  color: red;
  background-color: white;
  border-radius: 10px;
}

.tel {
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
}

.tel-number {
  font-size: 30px;
}

/* メニューバー収納 */

.menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  height: 75px;
  width: 75px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  border-bottom: 5px solid #9f000c;
  background-color: red;
}

.menu-btn.active {
  margin-top: 5px;
  border-bottom: 0px solid #9f000c;
}

.menu-btn.active::after {
  margin-top: 0;
  border-bottom: 5px solid #9f000c;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 18px 30px 20px 0;
  position: relative;
}

.menu-content ul li a:hover {
  color: black;
  background-color: white;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 22px;
  top: 25px;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: black;
  opacity: 0.7;
  transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}

@media screen and (min-width: 824px) { 
  .hamburger-menu {
    display: none;
  }
}

.menu-tile-top {
  font-size: min(5vw, 30px);
}

.top-zero {
  margin-top: 5vw;
  margin-bottom: 2vw;
}

.menu-tile-top-2 {
  font-size: min(5vw, 30px);
  margin-bottom: 5vw;
}

.menu-tile {
  text-align: center;
  padding: 2vw;
}

.menu-tile-image {
  width: 20vw;
  height: auto;
  border-radius: 2vw;
}

.menu-tile-under {
  width: 20vw;
  flex-wrap: wrap;
  padding-top: 1vw;
}

.menu-tile-name {
  font-size: min(2.5vw, 25px);
  margin-top: 0;
}

.name-small2 {
  font-size: min(1.9vw, 19px);
}

.menu-tile-price {
  font-size: min(2.5vw, 20px);
  margin-bottom: 10vw;
}

.bento, 
.tan,
.karubi,
.karubi-america,
.rosu,
.organ,
.organ-foreign,
.pork,
.pork-foreign,
.wiener,
.chicken {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
}  

.tan,
.karubi,
.karubi-america,
.rosu,
.organ,
.organ-foreign,
.pork,
.pork-foreign {
  margin-top: 3vw;
}

@media screen and (max-width: 823px) {
  .menu-tile {
    text-align: center;
    padding: 2vw;
  }

  .menu-tile-image {
    width: 28vw;
    height: auto;
  }

  .menu-tile-under {
    width: 28vw;
    flex-wrap: wrap;
    padding-top: 1vw;
  }

  .menu-tile-name {
    font-size: min(3.9vw, 20px);
  }

  .name-small2 {
    font-size: min(2.7vw, 18px);
  }

  .menu-tile-price {
    font-size: min(3.6vw, 22px);
  }

  .bento, 
  .tan,
  .karubi,
  .karubi-america,
  .rosu,
  .organ,
  .organ-foreign,
  .pork,
  .pork-foreign,
  .wiener,
  .chicken {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 96vw;
    margin-left: auto;
    margin-right: auto;
  }
}

h2 {
  text-align: center;
}

.chicken {
  margin-bottom: 15vw;
}

/* フッター */
.footer {
  font-size: 13px;
  color: black;
  background-image: url(./image/home_img/IMG_background-footer1.jpg);
  background-size: cover;
  margin-top: 20vw;
}

.footer-logo {
  text-align: center;
}
.footer-logo-img {
  width: 36vw;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  width: 92vw;
  margin-left: auto;
  margin-right: auto;
}

.footer-tile {
  padding: 2vw;
  width: 42vw;
}

.footer-navi {
  padding-left: 0;
}

li {
  list-style: none;
}

@media screen and (min-width: 919px) {
  .footer {
    background-image: url(./image/home_img/IMG_background-footer2.jpg);
    background-size: cover;
    font-size: 15px;
  }
  
  .footer-above {
    display: flex;
  }

  .footer-logo-img {
    width: 28vw;
  }

  .footer-list {
    width: 72vw;
  }

  .footer-tile {
    padding: 2vw;
    width: 20vw;
  }
}
 
.copyright-area {
  padding-bottom: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.copyright {
  text-align: center;
}

/*戻るボタン*/
html{
  scroll-behavior: smooth;
}

.gotop{
  display: block;
  width: clamp(40px, 12vw, 80px);
  height: clamp(40px, 12vw, 80px);
  box-sizing: border-box;
  background: #FFF;
  border: 1px solid #999;
  padding-top: clamp(20px, 6vw, 40px);
  text-align: center;
  letter-spacing: -1px;
  font-size: 85%;
  text-decoration: none;
  color: #333;
  opacity: 0.7;
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  z-index: 10000;
}

.gotop::before{
  content: "";
  display: block;
  border-top: 0.4vw solid #333;
  border-right: 0.4vw solid #333;
  width: 25%;
  height: 25%;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}

.gotop:hover{
  opacity: 1;
}

@media(max-width:750px){
  .gotop{
    bottom: 10px;
    right: 10px;
  }
}

#お弁当 {
  position: relative;
  margin-top: 0px; 
}

#おうちで焼肉,
#豚焼肉,
#ウインナー,
#鶏焼肉 {
  position: relative;
  margin-top: 20vw; 
}

.menu-head-img {
  width: 100%;
  opacity: 0.7;
  display: block;
}

.menu-head-img-phone {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-head-img-phone {
    width: 100%;
    opacity: 0.7;
    height: max(15vw, 150px);
    display: block;
  }

  .menu-head-img {
    display: none;
  }
}  

.menu-head {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  font-size: min(7vw, 40px);
}